*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
}

html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  font-family: 'Manrope', sans-serif;
  line-height: 1.5;
  color: #2f3239;
  background: #f9f7f8;
}

button,
input,
textarea,
select {
  font-family: inherit;
}
